<% if user_signed_in? %>
<div class="col-md-4">
  <ul class="nav nav-pills nav-stacked well text-left">
    <li>
      <%= content_tag :strong, current_user.name %>
    </li>
    <li>
      <small>
       <%= link_to "@#{current_user.username}", user_profile_path(current_user.username) %>
      </small>
    </li>
    <li>
      <table class="table table-bordered stats">
        <tbody>
          <tr>
            <td>
              <%= content_tag :h4, current_user.twets.count %>
              <%= content_tag :small, 'Twets', :class => "uppercase lighter" %>
            </td>
            <td>
              <%= content_tag :h4, current_user.follows.count %>
              <small class="uppercase lighter">
                <%= link_to "Following", user_following_path(current_user.username) %>
              </small>
            </td>
            <td>
              <%= content_tag :h4, Follow.where(:following_id => current_user.id).count %>
              <small class="uppercase lighter">
                <%= link_to "Following", user_followers_path(current_user.username) %>
              </small>
            </td>
        </tbody>
      </table>
    </li>
    <li>
    <%= form_for (@twet || :twet), :url => twets_path,
                         :builder => InlineErrorsBuilder,
                         :method => :POST,
                         :role => :form do |f| %>
      <div class="mar-top-15">
        <%= content_tag :div, :class => f.validation_class(:content, "form-group") do %>
          <%= f.text_area :content, :placeholder => "Compose new Twet...", :class => 'form-control' %>
          <%= f.errors_for :content %>
        <% end %>

        <%= f.submit "Twet", :class => "btn btn-primary pull-right" %>
      </div>
    <% end %>
  </ul>
<% if @user != current_user %>
  <ul class="nav nav-pills nav-stacked well">
    <%= nav_item("Follow", follows_path) %>
  </ul>
<% end %>
</div>

<% else %>

<div class="col-md-4">
  <ul class="nav nav-pills nav-stacked well text-left">
    <li>Like what you see? <%= link_to "Sign up today", "/" %></li>
  </ul>
</div>

<% end %>
